extends layout

block content
  h1 hello
  p Welcome to Activity
  
  form(action="newAct", method="post", )
      label Activity:
      input(type="text", name="activity")
      br
      label Lat:
      input(type="text", name="lat")
      br
      label Lng:
      input(type="text", name="lng")
      br
      label Time:
      input(type="text", name="time")
      br
      input(type="submit", value="Add a new activity")
      br
